@using Newtonsoft.Json
@model ProductRequestModel

@{
    ViewBag.Title = "Продукты";
}

<table class="table" xmlns="">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.Products != null)
    {
        var products = (List<ProductResponseModel>)ViewBag.Products;
        for (var i = 0; i < products.Count; i++)
        {
            var json = JsonConvert.SerializeObject(products[i], new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            });
            <tr onclick="onRecordClick('@json')">
                <th scope="row">@(i + 1)</th>
                <td>@(products[i].Name)</td>
                <td>@(products[i].Category)</td>
            </tr>
        }
    }
    </tbody>
</table>


<div class="modal fade" id="modalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="modalCenterTitle">Категории</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" asp-for="UserId" value="@User.Claims.First(s => s.Type == ClaimTypes.NameIdentifier).Value"/>

                    <input type="hidden" asp-for="Id"/>
                    <div class="card-body">
                        <div class="mt-2">
                            <label class="form-label">Имя</label>
                            <input type="text" class="form-control" aria-describedby="defaultFormControlHelp" asp-for="Name">
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Категория</label>
                            <select asp-for="CategoryId" class="form-select">
                                @if (ViewBag.Categories != null)
                                {
                                    var categories = (List<CategoryResponseModel>)ViewBag.Categories;
                                    foreach (var category in categories)
                                    {
                                        <option value="@(category.Id)">@(category.Name)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Загрузка с файла</label>
                            <input type="file" class="form-control" aria-describedby="defaultFormControlHelp" name="file">
                            <button type="submit" class="btn btn-primary" asp-action="LoadFromFile">Загрузить с файла</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" asp-action="AddProduct">Сохранить Данные</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" onclick="onRecordClickNew()">
    Добавить
</button>
<script type="text/javascript" src="/js/ModalViewer.js"></script>