@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Report.Application.ResponseModels
@model Report.Application.RequestModels.InvoiceRequestModel

@{
    ViewBag.Title = "Покупка. История покупок";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название продукта</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена(сомони)</th>
        <th scope="col">Цена(доллар)</th>
        <th scope="col">Фирма</th>
        <th scope="col">Время</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.InvoicesLogs!= null)
    {
        var invoicesLogs = (List<InvoicesLogResponseModel>)ViewBag.InvoicesLogs;
        for (var i = 0; i < invoicesLogs.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@(invoicesLogs[i].ProductName)</td>
                <td>@(invoicesLogs[i].Quantity)</td>
                <td>@(invoicesLogs[i].PriceTjs)</td>
                <td>@(invoicesLogs[i].PriceUsd)</td>
                <td>@(invoicesLogs[i].FirmName)</td>
                <td>@(invoicesLogs[i].DateTime)</td>
            </tr>
        }
    }
    </tbody>
</table>


<div class="modal fade" id="modalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="modalCenterTitle">Категории</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="mt-2">
                            <label class="form-label">Продукт</label>
                            <select asp-for="ProductId">
                                @if (ViewBag.Products != null)
                                {
                                    var products = (List<ProductResponseModel>)ViewBag.Products;
                                    foreach (var product in products)
                                    {
                                        <option value="@(product.Id)">@(product.Name)</option>                                        
                                    }
                                }
                            </select>
                        </div>
                        
                        <div class="mt-2">
                            <label class="form-label">Фирма</label>
                            
                            <select asp-for="FirmId">
                                @if (ViewBag.Firms != null)
                                {
                                    var firms = (List<FirmResponseModel>)ViewBag.Firms;
                                    foreach (var firm in firms)
                                    {
                                        <option value="@(firm.Id)">@(firm.Name)</option>                                        
                                    }
                                }
                            </select>
                        </div>
                        
                        <div class="mt-2">
                            <label class="form-label">Склад</label>
                            
                            <select asp-for="StorageId">
                                @if (ViewBag.Storages != null)
                                {
                                    var storages = (List<StorageResponseModel>)ViewBag.Storages;
                                    foreach (var storage in storages)
                                    {
                                        <option value="@(storage.Id)">@(storage.Name)</option>                                        
                                    }
                                }
                            </select>
                        </div>
                        
                        <div class="mt-2">
                            <label class="form-label">Количество</label>
                            <input class="form-control" type="number" asp-for="Quantity"/>
                        </div>
                        
                        <div class="mt-2">
                            <label class="form-label">Цена(Сомони)</label>
                            <input class="form-control" type="number" asp-for="PriceTjs"/>
                        </div>
                        
                        <div class="mt-2">
                            <label class="form-label">Цена(Доллар)</label>
                            <input class="form-control" type="number" asp-for="PriceUsd"/>
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Загрузка с файла</label>
                            <input type="file" class="form-control" aria-describedby="defaultFormControlHelp" name="file">
                            <button type="submit" class="btn btn-primary" asp-action="LoadFromFile">Загрузить с файла</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" asp-action="Invoice">Сохранить Данные</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" onclick="onRecordClickNew()">
    Добавить
</button>

<script type="text/javascript" src="/js/ModalViewer.js"></script>